@use '@nebular/theme/styles/globals' as *;
@use 'themes' as *;

@import 'material';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // loading progress bar
  @include ngx-pace-theme();

  ngx-app {
    // framework global styles
    @include nb-theme-global();

    // theme related changes restoring the old look and feel scoped to generator to not mess with outer website
    #generator {
      .columns {
        //Electron
        top: 30px;
        height: 91%;
        left: 0px;
        padding-left: 0px;
        position: absolute;
      }

      .webLayout {
        .columns {
          //Web
          [nbButton].footerGenerateButton.appearance-filled.status-success {
            bottom: 3px;
          }

          top: 0px;
          height: 100%;
        }
      }

      .ioInput,
      .ioInputWeb,
      .numberTextInput,
      .footerInput,
      .footerInputWeb,
      .footerInputShort {
        background: nb-theme(color-basic-100) !important;
      }

      div.record-picker {
        ul {
          border-bottom: unset;
        }

        .selected {
          background-color: nb-theme(color-basic-1100) !important;
        }
      }

      nb-popover {
        .arrow {
          &::after {
            border-bottom: 11px solid nb-theme(color-basic-700);
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
          }

          border-bottom: 11px solid nb-theme(color-warning-500);
          border-left: 11px solid transparent;
          border-right: 11px solid transparent;
        }

        border: 2px solid nb-theme(color-warning-500) !important;
      }

      nb-card-body {
        color: nb-theme(color-basic-600);

        .selected {
          background: nb-theme(color-basic-1100) !important;
        }
      }

      nb-card.select.primary {
        border: 2px solid nb-theme(color-info-500) !important;
      }

      .btn-xsmall {
        max-width: 300px;
      }

      nb-select {
        line-height: 0.8 !important;
      }

      nb-option, nb-option.selected {
        color: nb-theme(color-basic-1000) !important;

        &:hover {
          background-color: nb-theme(color-success-300) !important;
        }
      }

      .textInput:focus {
        border-color: nb-theme(color-info-500) !important;
      }

      .numberInput:focus {
        border-color: nb-theme(color-info-500) !important;
      }

      .progress-value.success {
        background-color: nb-theme(color-basic-1100) !important;
        color: nb-theme(color-basic-1000);
      }

      .form-control {
        background-color: nb-theme(color-basic-100) !important;
        display: block;
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        color: nb-theme(color-basic-600);
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        padding: 0.75rem 1.125rem;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400;
      }

      .form-control:focus {
        background-color: nb-theme(color-basic-100) !important;
      }

      nb-select {
        &.appearance-outline.status-basic {
          .select-button[disabled] {
            &:hover {
              background-color: nb-theme(color-basic-900);
              cursor: default;
            }

            background-color: nb-theme(color-basic-200);
          }

          .select-button {
            &:hover {
              background-color: nb-theme(color-basic-300);
            }

            &:focus {
              background-color: nb-theme(color-basic-300);
            }

            nb-icon {
              color: nb-theme(color-basic-100);
            }

            padding: 0.5rem 1.25rem;
            font-size: .75rem;
            line-height: 1.25;
            border-radius: 0.75rem;
            color: nb-theme(color-basic-100);
            font-weight: 500;
            font-family: Exo;

            position: relative;
            min-width: auto;
            width: 100%;
            text-align: start;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: none;

            text-transform: uppercase;
            letter-spacing: .4px;
            transition: none;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }

        &.selectXSmall {
          display: block;
        }
      }

      input.form-control.ng-valid.size-medium.status-basic.shape-rectangle {
        max-width: unset;
        border-radius: 0.17rem;
        padding: 0.75rem 1.125rem;
        height: 28px;
        margin: 1px 0 9px 0;
        background-color: white;
      }

      nb-dialog-container {
        input.size-small.status-basic.shape-rectangle {
          line-height: unset;
          padding: 0.375rem 1.125rem;
        }

        nb-card-header {
          border: 0;
          padding: 1.25rem;
          font-family: Exo;
          font-size: 1.125rem;
          font-weight: 600;

          button[nbbutton] {
            padding: 0.5rem 1.25rem;
            font-size: 0.75rem;
          }
        }

        nb-card-footer {
          border: 0;
          padding: 1.25rem;
        }

        .footerButtonWrapper {
          padding: 0;
          font-family: Exo;
          font-size: 1.125rem;
          font-weight: 600;

          button[nbbutton], button[nbbutton].shape-rectangle {
            line-height: 1.3rem;
            padding: 0.75rem 1.5rem;
            font-size: 0.875rem;

            &.status-danger, &.status-info, &.status-primary {
              padding: 0.75rem 1.5rem;
              background-image: unset;
              box-shadow: unset;
            }
          }
        }

        nb-card-body {
          font-family: Roboto, "Helvetica Neue", sans-serif;
        }

        button[nbbutton] {
          font-family: Exo;
          font-weight: 500;
          font-size: 0.875rem;
          background-image: unset;

          &.status-danger {
            font-size: 0.875rem;
            line-height: 1.25;
            border-radius: 0.75rem;
            background-color: nb-theme(color-warning-900);

            &:hover {
              opacity: 0.9;
            }
          }

          &.appearance-hero.status-primary {
            background-color: nb-theme(color-basic-500);
            border-radius: 0.75rem;
            text-shadow: none;
            border: none;
            line-height: calc((1rem * 1.25) + 4px);
            padding: 0.625rem 1.5rem;
            box-shadow: unset;

            &:hover {
              background-color: nb-theme(color-basic-300);
            }
          }
        }
      }

      input.size-small.status-basic.shape-rectangle {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        border-radius: 0.17rem;
        font-size: 0.875rem;
        padding: 0.1rem 1.125rem;
        position: relative;
        left: 0;
        max-width: unset;
        border: 2px solid nb-theme(color-primary-900);
        text-align: left;
        font-weight: 400;
        line-height: 1.15;

        &.ioInput {
        }

        &.numberTextInputFull.numberTextInput {
          left: 0;
          width: 100%;
          text-align: left;
        }

        &.numberTextInput {
          &.numberTextInputSmall {
            max-width: 50px;
          }

          &.numberTextInputMedium {
            max-width: 115px;
          }

          position: relative;
          left: 15px;
          max-width: 36px;
          min-width: 30px;
          width: auto;
          text-align: center;
          padding-top: 0.15rem;
          padding-bottom: 0.15rem;
        }
      }

      p.subheaderLabel {
        margin-top: 0;
      }

      nb-tabset {
        ul {
          border-bottom: nb-theme(tile-border) solid nb-theme(color-basic-800);

          > li.tab.active {
            background-color: unset;

            .tab-link::before {
              height: 5px;
            }

            > a > span {
              font-weight: nb-theme(menu-font-weight);
              color: nb-theme(color-success-500);
            }
          }

          > li > a > span {
            &:hover {
              font-weight: nb-theme(menu-hover-font-weight);
            }

            font-weight: 400;
            font-family: Exo;
            line-height: 15px;
            text-transform: none;
          }
        }

        &.footerTabset ul.tabset {
          margin-left: 8px;
        }
      }

      nb-layout-header {
        background-color: nb-theme(color-warning-100);

        nav {
          height: 1.25em;
        }

        div.dragRegion {
          position: absolute;
          left: 2px;
          top: 2px;
          width: calc(100% - 4px);
          height: calc(100% - 2px);
          pointer-events: none;
          -webkit-app-region: drag;
        }
      }

      .layout .layout-container .content .columns {
        nb-layout-column.main-content {
          background: nb-theme(color-success-800);
          padding: 0;
        }

        nb-layout-column {
          padding: 0 2.25rem 0;
        }
      }

      nb-card {
        border: 0;
        font-size: 1rem;
        line-height: 1.25;
        background: nb-theme(background-basic-color-1);
        color: #000;
        margin-bottom: 1.5rem;
        border-radius: 0.17rem;
        box-shadow: none;
        font-weight: 400;

        &.popover-card {
          border-radius: 8px;
        }
      }

      nb-option-list {
        border: 2px solid nb-theme(color-success-400);
        border-radius: 3px; // TODO dark mode

        nb-option {
          background-color: nb-theme(color-basic-700);
          padding: 0.75rem 1.5rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;

          &:hover {
            background-color: nb-theme(color-info-500);
            color: nb-theme(color-basic-100);
          }

          &.selected {
            background-color: nb-theme(color-basic-1100);
            color: nb-theme(color-basic-100);
          }

          [nbInput].size-small:not(.input-full-width) {
            max-width: inherit;
          }
        }
      }

      .form-control.ng-untouched.ng-pristine.ng-valid.size-medium.status-basic.shape-rectangle {
        border-radius: 0.17rem;
        padding: 0.75rem 1.125rem;
        height: 28px;
        margin: 1px 0px 9px 0px;
        background-color: white;
      }

      [nbButton], button.btn {
        &.appearance-filled {
          &.status-primary.headerButton {
            background-color: nb-theme(color-info-500);
            border-color: nb-theme(color-info-500);
            color: nb-theme(color-success-700);
          }

          &.status-success {
            &:hover {
              background-color: nb-theme(color-warning-300);
              border-color: nb-theme(color-warning-300);
            }

            bottom: 13px;
            background-color: nb-theme(color-warning-200);
            border-color: nb-theme(color-warning-200);
            color: nb-theme(color-info-300);
            padding: 0.75rem 1.5rem;
            font-family: Exo;
            font-size: 1rem;
            font-weight: 500;
          }

          &.status-primary, &.status-basic {
            &:disabled {
              background-color: nb-theme(color-basic-200);
              border-color: nb-theme(color-basic-200);
            }

            background-color: nb-theme(color-basic-300);
            border-color: nb-theme(color-basic-300);
          }

          &.size-medium.status-primary.shape-rectangle, &.size-medium.status-basic.shape-rectangle {
            font-family: Exo;
            font-weight: 500;
            font-size: 14px;
            padding: 4px 0 0 0;
            letter-spacing: 0.4px;
            height: 28px;
            background-image: unset;
          }
        }
      }

      [nbButton].appearance-filled.status-info {
        color: nb-theme(color-info-300);
        background-color: nb-theme(color-info-500);
        border-color: nb-theme(color-info-500);
      }

      button.size-small.status-info.shape-rectangle {
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0.275rem 1.5rem;
        font-family: Exo;
        letter-spacing: 0.4px;
        background-color: nb-theme(color-info-500);

        &:hover {
          background-color: nb-theme(color-warning-400);
          border-color: nb-theme(color-warning-400);
        }
      }

      p.footerInputLabel {
        left: 3px;
      }

      div.scrollable-container nb-layout-footer[fixed].fixed nav.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
        height: 40px;
        width: 100%;
        background: nb-theme(color-warning-100);
        color: nb-theme(color-success-700) !important;

        a {
          text-decoration: none;
        }
      }

      nb-tab {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 1rem;

        h3 {
          font-family: Exo;
        }

        li, p {
          font-family: Roboto, "Helvetica Neue", sans-serif;
        }

        a, a:hover, a:active {
          color: nb-theme(color-primary-800);
        }
      }

      [nbInput].status-basic, [nbInput].status-basic:hover {
        background-color: nb-theme(color-basic-100);
      }

      .tabset .tab a {
        color: nb-theme(color-basic-1000) !important;

        &:focus {
          outline: none;
        }
      }

      nb-tabset .tab.active .tab-link::before,
      nb-tabset .tab:hover .tab-link::before {
        background-color: nb-theme(color-success-400) !important;
      }

      nb-tabset a.tab {
        height: 45px;

        &.active {
          margin-top: 6px;
        }
      }

    nb-tabset a.tab-link {
      background-color: transparent;
      cursor: pointer;
      padding: 1rem 1rem 0.6rem 1rem;
      color: nb-theme(color-basic-1000);
      font-family: Exo;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1rem;
      text-transform: uppercase;
      margin-top: 0.5rem;
    }

      mat-grid-tile.mat-grid-tile {
        background-color: nb-theme(color-success-900);
        border-radius: nb-theme(tile-border-radius);
        border: nb-theme(tile-border) solid nb-theme(color-info-100);
      }

      p {
        margin-top: 0;
      }
    }

    //DB: Tooltip delay
    @keyframes tooltipFadeIn {
      0% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    //Scrollbar style for Combobox
    .cdk-overlay-pane {

      > nb-popover {
        animation-name: tooltipFadeIn;
        animation-duration: 600ms;
      }

      gui-tooltip > nb-card > nb-card-body {
        background-color: nb-theme(color-success-100);
        color: nb-theme(color-basic-1000);
        border-radius: nb-theme(border-radius);
      }
    }

    ::-webkit-scrollbar {
      background: nb-theme(color-primary-200);
      width: nb-theme(scrollbar-width);
    }

    ::-webkit-scrollbar-track {
      background: nb-theme(color-success-1100);
      box-shadow: 0 0 3px nb-theme(color-success-200) inset;
    }

    ::-webkit-scrollbar-thumb {
      background: nb-theme(color-primary-200);
    }
  }
}

html {
  font-size: 14px;
}
