@import '~@nebular/theme/styles/prebuilt/default';

@import 'material';
@import 'themes';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  // loading progress bar
  @include ngx-pace-theme();

  //DB: Tooltip delay
  @keyframes tooltipFadeIn {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .cdk-overlay-pane > nb-popover {
    animation-name: tooltipFadeIn;
    animation-duration: 600ms;
  }
  //Scrollbar style for Combobox
  .cdk-overlay-pane > nb-card > nb-card-body {
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #eee;
      box-shadow: 0px 0px 3px #dfdfdf inset;
    }

    &::-webkit-scrollbar-thumb {
      background: #337ab7;
    }
  }
  //@include bootstrap-rtl();
}

html {
  font-size: 14px;
}

// theme related changes restoring the old look and feel scoped to generator to not mess with outer website
body#generator {
  @import "~typeface-exo/index.css";
  @import "~roboto-fontface/css/roboto/roboto-fontface.css";
  @import "~ionicons/dist/css/ionicons.css";
  @import "~socicon/css/socicon.css";
  @import "~@fortawesome/fontawesome-free/css/fontawesome.css";
  @import "~@fortawesome/fontawesome-free/css/brands.css";

  .columns {
    //Electron
    top: 30px;
    height: 91%;
    left: 0px;
    padding-left: 0px;
    position: absolute;
  }

  .webLayout {
    .columns {
      //Web
      [nbButton].footerGenerateButton.appearance-filled.status-success {
        bottom: 3px;
      }

      top: 0px;
      height: 100%;
    }
  }

  .themes-switcher {
    color: nb-theme(color-basic-100) !important;
  }

  .ioInput,
  .ioInputWeb,
  .numberTextInput,
  .footerInput,
  .footerInputWeb,
  .footerInputShort {
    background: nb-theme(color-basic-100) !important;
  }

  .record-picker .selected {
    background-color: nb-theme(color-basic-1100) !important;
  }

  nb-popover {
    .arrow {
      &::after {
        border-bottom: 11px solid nb-theme(color-basic-700);
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
      }

      border-bottom: 11px solid nb-theme(color-basic-1100);
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
    }

    border: 2px solid nb-theme(color-basic-1100) !important;
  }

  nb-card-body .selected {
    background: nb-theme(color-basic-1100) !important;
  }

  nb-card.select.primary {
    border: 2px solid nb-theme(color-info-500) !important;
  }

  .btn-xsmall {
    max-width: 300px;
  }

  nb-select {
    line-height: 0.8 !important;
  }

  nb-option:hover {
    background-color: nb-theme(color-info-500) !important;
    color: nb-theme(color-basic-100) !important;
  }

  .textInput:focus {
    border-color: nb-theme(color-info-500) !important;
  }

  .numberInput:focus {
    border-color: nb-theme(color-info-500) !important;
  }

  .progress-value.success {
    background-color: nb-theme(color-basic-1100) !important;
    color: nb-theme(color-basic-1000);
  }

  .form-control {
    background-color: nb-theme(color-basic-100) !important;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: nb-theme(color-basic-600);
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.75rem 1.125rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
  }

  .form-control:focus {
    background-color: nb-theme(color-basic-100) !important;
  }

  nb-select {
    &.appearance-outline.status-basic {
      .select-button[disabled] {
        &:hover {
          background-color: nb-theme(color-basic-900);
          cursor: default;
        }

        background-color: nb-theme(color-basic-200);
      }

      .select-button {
        &:hover {
          background-color: nb-theme(color-basic-300);
        }

        &:focus {
          background-color: nb-theme(color-basic-300);
        }

        nb-icon {
          color: nb-theme(color-basic-100);
        }

        padding: 0.5rem 1.25rem;
        font-size: .75rem;
        line-height: 1.25;
        border-radius: 0.75rem;
        color: #fff;
        font-weight: 500;
        font-family: Exo;

        position: relative;
        min-width: auto;
        width: 100%;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: none;

        text-transform: uppercase;
        letter-spacing: .4px;
        transition: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    &.selectXSmall {
      display: block;
    }
  }

  input.form-control.ng-valid.size-medium.status-basic.shape-rectangle {
    max-width: unset;
    border-radius: 0.17rem;
    padding: 0.75rem 1.125rem;
    height: 28px;
    margin: 1px 0 9px 0;
    background-color: white;
  }

  input.size-small.status-basic.shape-rectangle {
    @media (max-width: 550px) {
      width: calc(100% - 115px);
    }

    font-family: Roboto, "Helvetica Neue", sans-serif;
    border-radius: 0.17rem;
    font-size: 0.875rem;
    padding: 0.1rem 1.125rem;
    position: relative;
    left: 0px;
    width: calc(100% - 265px);
    max-width: unset;
    border: 2px solid #dadfe6;
    text-align: left;
    font-weight: 400;
    line-height: 1.15;

    &.ioInput {
    }

    &.numberTextInputFull.numberTextInput {
      left: 0;
      width: 100%;
      text-align: left;
    }

    &.numberTextInput {
      &.numberTextInputSmall {
        max-width: 50px;
      }

      &.numberTextInputMedium {
        max-width: 115px;
      }

      position: relative;
      left: 15px;
      max-width: 36px;
      min-width: 30px;
      width: auto;
      text-align: center;
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
    }
  }

  p.subheaderLabel {
    margin-top: 0;
  }

  nb-tabset {
    ul {
      > li.tab.active {
        background-color: unset;

        .tab-link::before {
          height: 5px;
        }

        > a > span {
          font-weight: 600;
          color: nb-theme(color-info-500);
        }
      }

      > li > a > span {
        font-size: 1.125rem;
        font-weight: 400;
        font-family: Exo;
        line-height: 15px;
        text-transform: none;
      }
    }

    &.footerTabset ul.tabset {
      margin-left: 8px;
    }
  }

  nb-layout-header {
    background-color: nb-theme(color-info-500);

    nav {
      height: 1.25em;
    }

    div.dragRegion {
      position: absolute;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 2px);
      pointer-events: none;
      -webkit-app-region: drag;
    }
  }

  .layout .layout-container .content .columns {
    nb-layout-column.main-content {
      padding: 0;
    }

    nb-layout-column {
      padding: 0 2.25rem 0;
    }
  }

  nb-card {
    border: 0;
    font-size: 1rem;
    line-height: 1.25;
    background: #d0cfd3;
    color: #000;
    margin-bottom: 1.5rem;
    border-radius: 0.17rem;
    box-shadow: none;
    font-weight: 400;
    scrollbar-face-color: #dadada;
    scrollbar-track-color: #e3e9ee;

    &.popover-card {
      border-radius: 8px;
    }
  }

  div.options-list-container {
    .options-list {
      border: 2px solid nb-theme(color-info-500);

      nb-option {
        background-color: nb-theme(color-basic-700);
        padding: 0.75rem 1.5rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        &:hover {
          background-color: nb-theme(color-info-500);
          color: nb-theme(color-basic-100);
        }

        &.selected {
          background-color: nb-theme(color-basic-1100);
          color: nb-theme(color-basic-100);
        }

        [nbInput].size-small:not(.input-full-width) {
          max-width: inherit;
        }
      }
    }
  }

  .form-control.ng-untouched.ng-pristine.ng-valid.size-medium.status-basic.shape-rectangle {
    border-radius: 0.17rem;
    padding: 0.75rem 1.125rem;
    height: 28px;
    margin: 1px 0px 9px 0px;
    background-color: white;
  }

  [nbButton], button.btn {
    &.appearance-filled {
      &.status-success {
        &:hover {
          background-color: nb-theme(color-basic-300);
          border-color: nb-theme(color-basic-300);
        }

        position: absolute;
        bottom: 13px;
        background-color: nb-theme(color-basic-500);
        border-color: nb-theme(color-basic-500);
        padding: 0.75rem 1.5rem;
        font-family: Exo;
        font-size: 1rem;
        font-weight: 500;
      }

      &.status-primary {
        &:disabled {
          background-color: nb-theme(color-basic-200);
          border-color: nb-theme(color-basic-200);
        }

        background-color: nb-theme(color-basic-300);
        border-color: nb-theme(color-basic-300);
      }

      &.size-medium.status-primary.shape-rectangle {
        font-family: Exo;
        font-weight: 500;
        font-size: 14px;
        padding: 4px 0 0 0;
        letter-spacing: 0.4px;
        height: 28px;
        background-image: unset;
      }
    }
  }

  button.size-small.status-info.shape-rectangle {
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.275rem 1.5rem;
    font-family: Exo;
    letter-spacing: 0.4px;

    &:hover {
      background-color: nb-theme(color-primary-500);
      border-color: nb-theme(color-primary-500);
    }
  }

  p.footerInputLabel {
    left: 3px;
  }

  div.scrollable-container nb-layout-footer[fixed].fixed nav.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    height: 40px;
    width: 100%;
    background: nb-theme(color-info-500);
    color: nb-theme(color-basic-100) !important;

    a {
      text-decoration: none;
    }
  }

  nb-tab {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;

    h3 {
      font-family: Exo;
    }

    li, p {
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    a, a:hover, a:active {
      color: nb-theme(color-primary-800);
    }
  }

  [nbInput].status-basic, [nbInput].status-basic:hover {
    background-color: nb-theme(color-basic-100);
  }

  .tabset .tab a {
    color: nb-theme(color-basic-1000) !important;

    &:focus {
      outline: none;
    }
  }

  nb-tabset .tab.active .tab-link::before,
  nb-tabset .tab:hover .tab-link::before {
    background-color: nb-theme(color-info-500) !important;
  }

  nb-tabset a.tab {
    height: 45px;

    &.active {
      margin-top: 6px;
    }
  }

  nb-tabset a.tab-link {
    background-color: transparent;
    cursor: pointer;
    padding: 1rem 1rem 0.6rem 1rem;
    color: #d0cfd3;
    font-family: Exo;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
}
