$nb-themes: nb-register-theme(
    (
      color-basic-default: black,

      color-basic-100: #080808f0,
      color-basic-200: #2c2c2c,
      color-basic-300: #1c9c7b,
      color-basic-400: black,
      color-basic-500: #128a6b,
      color-basic-600: #dddddd,
      color-basic-700: #0a0a0a,
      color-basic-800: #242424,
      color-basic-900: #2c2c2c,
      color-basic-1000: #d0d0d0,
      color-basic-1100: #0d4632,

      color-success-100: #1c1c1c,
      color-success-200: #000000,
      color-success-300: #2e6b56,
      color-success-400: transparent,
      color-success-500: #dddddd,
      color-success-600: #d0cfd3,
      color-success-700: #d0cfd3,
      color-success-800: unset,
      color-success-900: #111111,
      color-success-1000: transparent,
      color-success-1100: #797979,

      color-primary-100: #06a77d,
      color-primary-200: #7d7d7d,
      color-primary-300: #0e8a41,
      color-primary-400: #ffffff80,
      color-primary-500: #06a77d,
      color-primary-600: black,
      color-primary-700: black,
      color-primary-800: #128a6b,
      color-primary-900: transparent,

      color-info-100: black,
      color-info-200: black,
      color-info-300: #d3d3d3,
      color-info-400: #2c3f2f,
      color-info-500: #052f5f,
      color-info-600: black,
      color-info-700: black,
      color-info-800: black,
      color-info-900: #2e6b56,

      color-warning-100: #0e0e0e,
      color-warning-200: #052f5f,
      color-warning-300: #093970,
      color-warning-400: #093970,
      color-warning-500: #111111,
      color-warning-600: #128a6b,
      color-warning-700: #020202d9,
      color-warning-800: #000000ad,
      color-warning-900: #8c0915,

      color-primary-focus: color-primary-700,
      color-primary-hover: color-primary-300,
      color-primary-default: color-primary-500,
      color-primary-active: color-primary-600,
      color-primary-disabled: color-primary-300,

      color-info-focus: color-info-700,
      color-info-hover: color-primary-300,
      color-info-default: color-info-500,
      color-info-active: color-info-600,
      color-info-disabled: color-primary-300,
      color-info-default-border: color-primary-300,
      color-info-hover-border: color-primary-300,

      background-basic-color-1: color-basic-700,
      background-basic-color-2: color-basic-500,
      background-basic-color-3: color-basic-100,
      background-basic-color-4: color-basic-400,

      background-primary-color-1: color-basic-100,
      background-primary-color-2: color-basic-500,
      background-primary-color-3: color-basic-700,
      background-primary-color-4: color-basic-400,

      background-alternative-color-1: color-basic-100,
      background-alternative-color-2: color-basic-200,
      background-alternative-color-3: color-basic-300,
      background-alternative-color-4: color-basic-400,

      border-basic-color-1: color-basic-100,
      border-basic-color-2: color-basic-200,
      border-basic-color-3: color-basic-800,
      border-basic-color-4: color-basic-400,
      border-basic-color-5: color-basic-500,

      text-basic-color: color-basic-1000,
      text-alternate-color: color-basic-100,
      text-control-color: color-basic-100,
      text-disabled-color: color-basic-100,
      text-hint-color: color-basic-700,

      divider-color: color-basic-700,
      divider-width: 1px,
      divider-style: solid,

      border-radius: 0.75em,
      tile-border-radius: 14px,
      tile-border: 0,
      tile-header-font-weight: 700,
      btn-border-radius: 0.75em,
      menu-font-weight: 700,
      tile-padding: 3px,
      scrollbar-width: 3px,
      filter-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="grey" d="M0 64l192 192v192l128-32V256L512 64H0z"/></svg>'),
      footer-height: 203px,
      menu-hover-font-weight: 600,
      padding-top-nb-tab: 7px,
      headline-padding-top: 8px,
      spinner-background-color: rgba(0, 0, 0, 0.65),
      layout-background-color: background-basic-color-1,
      dropdown-border-radius: 12px,
    ),
    ootr-dark,
    default
);
