// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";
// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (ootr-default, ootr-dark);

//$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
    (
      color-basic-default: green,

      color-basic-100: #ffffff,
      color-basic-200: #92c3ba,
      color-basic-300: #29b38f,
      color-basic-400: #dde1eb,
      color-basic-500: #06A77D,
      color-basic-600: #181818,
      color-basic-700: #d0cfd3,
      color-basic-800: #ebecee,
      color-basic-900: #9bcfc6,
      color-basic-1000: #000000,
      color-basic-1100: #37b364,

      color-primary-100: #35CC6C,
      color-primary-200: #337ab7,
      color-primary-300: #06a77d,
      color-primary-400: #06a77d,
      color-primary-500: #294C7A,
      color-primary-600: #274bdb,
      color-primary-700: #1a34b8,
      color-primary-800: blue,
      color-primary-900: #dadfe6,

      color-info-100: darkgrey,
      color-info-200: #d9e4ff,
      color-info-300: #06a77d,
      color-info-400: #a9a9a9,
      color-info-500: #052f5f,
      color-info-600: #a2231d,
      color-info-700: #FFA07A,
      color-info-800: #ddd,
      color-info-900: #808080,

      color-warning-900: #dd1122,

      color-primary-focus: color-primary-700,
      color-primary-hover: color-primary-400,
      color-primary-default: color-primary-500,
      color-primary-active: color-primary-600,
      color-primary-disabled: color-primary-300,

      color-info-focus: color-info-700,
      color-info-hover: color-info-300,
      color-info-default: color-info-500,
      color-info-active: color-info-600,
      color-info-disabled: color-info-300,
      color-info-border: color-info-300,
      color-info-hover-border: color-info-300,

      background-basic-color-1: color-basic-700,
      background-basic-color-2: color-basic-500,
      background-basic-color-3: color-basic-100,
      background-basic-color-4: color-basic-400,

      background-primary-color-1: color-basic-100,
      background-primary-color-2: color-basic-500,
      background-primary-color-3: color-basic-700,
      background-primary-color-4: color-basic-400,

      background-alternative-color-1: color-basic-100,
      background-alternative-color-2: color-basic-200,
      background-alternative-color-3: color-basic-300,
      background-alternative-color-4: color-basic-400,

      border-basic-color-1: color-basic-100,
      border-basic-color-2: color-basic-200,
      border-basic-color-3: color-basic-800,
      border-basic-color-4: color-basic-400,
      border-basic-color-5: color-basic-500,

      text-basic-color: color-basic-1000,
      text-alternate-color: color-basic-100,
      text-control-color: color-basic-100,
      text-disabled-color: color-basic-100,
      text-hint-color: color-basic-700,

      divider-color: color-basic-700,
      divider-width: 1px,
      divider-style: solid,

      border-radius: 0.75em,
      btn-border-radius: 0.75em,
    ),
    ootr-default,
    default
);

$nb-themes: nb-register-theme(
    (
      color-basic-default: black,

      color-basic-100: black,
      color-basic-200: black,
      color-basic-300: black,
      color-basic-400: black,
      color-basic-500: black,
      color-basic-600: black,
      color-basic-700: black,
      color-basic-800: black,
      color-basic-900: black,
      color-basic-1000: black,
      color-basic-1100: black,

      color-primary-100: black,
      color-primary-200: black,
      color-primary-300: black,
      color-primary-400: black,
      color-primary-500: black,
      color-primary-600: black,
      color-primary-700: black,
      color-primary-800: black,
      color-primary-900: black,

      color-info-100: black,
      color-info-200: black,
      color-info-300: black,
      color-info-400: black,
      color-info-500: black,
      color-info-600: black,
      color-info-700: black,
      color-info-800: black,
      color-info-900: black,

      color-primary-focus: color-primary-700,
      color-primary-hover: color-primary-400,
      color-primary-default: color-primary-500,
      color-primary-active: color-primary-600,
      color-primary-disabled: color-primary-300,

      color-info-focus: color-info-700,
      color-info-hover: color-info-300,
      color-info-default: color-info-500,
      color-info-active: color-info-600,
      color-info-disabled: color-info-300,
      color-info-default-border: color-info-300,
      color-info-hover-border: color-info-300,

      background-basic-color-1: color-basic-700,
      background-basic-color-2: color-basic-500,
      background-basic-color-3: color-basic-100,
      background-basic-color-4: color-basic-400,

      background-primary-color-1: color-basic-100,
      background-primary-color-2: color-basic-500,
      background-primary-color-3: color-basic-700,
      background-primary-color-4: color-basic-400,

      background-alternative-color-1: color-basic-100,
      background-alternative-color-2: color-basic-200,
      background-alternative-color-3: color-basic-300,
      background-alternative-color-4: color-basic-400,

      border-basic-color-1: color-basic-100,
      border-basic-color-2: color-basic-200,
      border-basic-color-3: color-basic-800,
      border-basic-color-4: color-basic-400,
      border-basic-color-5: color-basic-500,

      text-basic-color: color-basic-1000,
      text-alternate-color: color-basic-100,
      text-control-color: color-basic-100,
      text-disabled-color: color-basic-100,
      text-hint-color: color-basic-700,

      divider-color: color-basic-700,
      divider-width: 1px,
      divider-style: solid,

      border-radius: 0.75em,
      btn-border-radius: 0.75em,
      scrollbar-width: 7px,
    ),
    ootr-dark,
    default
);
