// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes";
// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default);

$nb-themes: nb-register-theme(
    (
      color-basic-default: green,

      color-basic-100: #ffffff,
      color-basic-200: #92c3ba,
      color-basic-300: #29b38f,
      color-basic-400: #dde1eb,
      color-basic-500: #06A77D,
      color-basic-600: #181818,
      color-basic-700: #d0cfd3,
      color-basic-800: #ebecee,
      color-basic-900: #9bcfc6,
      color-basic-1000: #000000,
      color-basic-1100: #37b364,

      color-primary-100: #f2f6ff,
      color-primary-200: #d9e4ff,
      color-primary-300: #06a77d,
      color-primary-400: #06a77d,
      color-primary-500: #294C7A,
      color-primary-600: #274bdb,
      color-primary-700: #1a34b8,
      color-primary-800: blue,
      color-primary-900: #92c3ba,

      color-info-100: #f2f6ff,
      color-info-200: #d9e4ff,
      color-info-300: #06a77d,
      color-info-400: #06a77d,
      color-info-500: #052f5f,
      color-info-600: #274bdb,
      color-info-700: #1a34b8,
      color-info-800: #102694,
      color-info-900: #091c7a,

      color-warning-900: #dd1122,

      color-primary-focus: color-primary-700,
      color-primary-hover: color-primary-400,
      color-primary-default: color-primary-500,
      color-primary-active: color-primary-600,
      color-primary-disabled: color-primary-300,

      background-basic-color-1: color-basic-100,
      background-basic-color-2: color-basic-500,
      background-basic-color-3: color-basic-700,
      background-basic-color-4: color-basic-400,

      background-primary-color-1: color-basic-100,
      background-primary-color-2: color-basic-500,
      background-primary-color-3: color-basic-700,
      background-primary-color-4: color-basic-400,

      background-alternative-color-1: color-basic-100,
      background-alternative-color-2: color-basic-200,
      background-alternative-color-3: color-basic-300,
      background-alternative-color-4: color-basic-400,

      border-basic-color-1: color-basic-100,
      border-basic-color-2: color-basic-200,
      border-basic-color-3: color-basic-800,
      border-basic-color-4: color-basic-400,
      border-basic-color-5: color-basic-500,


      text-basic-color: color-basic-1000,
      text-alternate-color: color-basic-100,
      text-control-color: color-basic-100,
      text-disabled-color: color-basic-100,
      text-hint-color: color-basic-700,

      border-radius: 0.75em,
      btn-border-radius: 0.75em,
      scrollbar-width: 7px,
    ),
    default,
    default
);
