$nb-themes: nb-register-theme(
    (
      color-basic-default: green,

      color-basic-100: #ffffff,
      color-basic-200: #92c3ba,
      color-basic-300: #29b38f,
      color-basic-400: #dde1eb,
      color-basic-500: #06A77D,
      color-basic-600: #181818,
      color-basic-700: #d0cfd3,
      color-basic-800: #ebecee,
      color-basic-900: #9bcfc6,
      color-basic-1000: #000000,
      color-basic-1100: #37b364,

      color-success-100: #d0cfd3,
      color-success-200: #808080,
      color-success-300: #052f5f,
      color-success-400: #052f5f,
      color-success-500: #052f5f,
      color-success-600: #d0cfd3,
      color-success-700: #ffffff,
      color-success-800: #d0cfd3,
      color-success-900: #d0cfd3,
      color-success-1000: #052f5f,
      color-success-1100: #ffffff,

      color-primary-100: #35CC6C,
      color-primary-200: #337ab7,
      color-primary-300: #06a77d,
      color-primary-400: #ffffff40,
      color-primary-500: #06a77d,
      color-primary-600: #274bdb,
      color-primary-700: #1a34b8,
      color-primary-800: blue,
      color-primary-900: #dadfe6,

      color-info-100: darkgrey,
      color-info-200: #d9e4ff,
      color-info-300: #ffffff,
      color-info-400: #a9a9a9,
      color-info-500: #052f5f,
      color-info-600: #a2231d,
      color-info-700: #FFA07A,
      color-info-800: #ddd,
      color-info-900: #808080,

      color-warning-100: #052f5f,
      color-warning-200: #06A77D,
      color-warning-300: #29b38f,
      color-warning-400: #093970,
      color-warning-500: #06A77D,
      color-warning-600: #ffffff,
      color-warning-700: #ffffff,
      color-warning-800: #052f5f,
      color-warning-900: #d12,

      color-primary-focus: color-primary-700,
      color-primary-hover: color-primary-300,
      color-primary-default: color-primary-500,
      color-primary-active: color-primary-600,
      color-primary-disabled: color-primary-300,

      color-info-focus: color-info-700,
      color-info-hover: color-primary-300,
      color-info-default: color-info-500,
      color-info-active: color-info-600,
      color-info-disabled: color-primary-300,
      color-info-border: color-primary-300,
      color-info-hover-border: color-primary-300,

      background-basic-color-1: color-basic-700,
      background-basic-color-2: color-basic-500,
      background-basic-color-3: color-basic-100,
      background-basic-color-4: color-basic-400,

      background-primary-color-1: color-basic-100,
      background-primary-color-2: color-basic-500,
      background-primary-color-3: color-basic-700,
      background-primary-color-4: color-basic-400,

      background-alternative-color-1: color-basic-100,
      background-alternative-color-2: color-basic-200,
      background-alternative-color-3: color-basic-300,
      background-alternative-color-4: color-basic-400,

      border-basic-color-1: color-basic-100,
      border-basic-color-2: color-basic-200,
      border-basic-color-3: color-basic-800,
      border-basic-color-4: color-basic-400,
      border-basic-color-5: color-basic-500,

      text-basic-color: color-basic-1000,
      text-alternate-color: color-basic-100,
      text-control-color: color-basic-100,
      text-disabled-color: color-basic-100,
      text-hint-color: color-basic-700,

      divider-color: color-basic-700,
      divider-width: 1px,
      divider-style: solid,

      border-radius: 0.75em,
      tile-border-radius: 0,
      tile-border: 1px,
      tile-header-font-weight: 500,
      btn-border-radius: 0.75em,
      menu-font-weight: 600,
      tile-padding: 0,
      scrollbar-width: 7px,
      filter-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 64l192 192v192l128-32V256L512 64H0z"/></svg>'),
      footer-height: 215px,
      menu-hover-font-weight: 400,
      padding-top-nb-tab: 1.25rem,
      headline-padding-top: 0,
      spinner-background-color: rgba(255, 255, 255, 0.3),
      layout-background-color: background-basic-color-1,
      dropdown-border-radius: 3px,
    ),
    ootr-default,
    default
);
